html{
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
     background-color: rgb(133, 130, 130)
  }
  
  .chat-container {
    height: 100%;
  
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .chat-header {
    background-color: #075e54;
    color: #fff;
    padding: 10px;
   
  }
  
  .chat-header h2 {
    margin: 0;
    font-size: 18px;
  }
  
  .chat-messages {
   height:85%;;
    overflow-y: scroll;
    padding-left: 3px;
        padding-right: 3px;
        padding-top: 2px;
  }
  
  .message {
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 8px;
    max-width: 70%;
  }
  
  
  
  
  form{
  margin-top: auto;

  }
  .chat-input {
    display: flex;
    padding: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #128c7e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #075e54;
  }
  
  .message {
    border-radius: 5px;
    padding: 2px;
  
   max-width: 55%;
   width: max-content;
    margin: 1px;
    background-color: #ffff;
    box-shadow: #585656;
    
  }
.center{
 justify-self: center;

  
    margin-right: auto;
    text-align: center;
    margin-left: auto;

}
.send{
    justify-self: left;
    background-color: rgb(121, 243, 121);
    box-shadow: #8a8787;
    text-align: left;
    margin-left: auto;
    
  }
.time{
padding: 1px; 
    font-size: 10px;

}
  
